.main-nav{
    border: 2px solid red;
    background-color: rgb(230, 27, 27);
    color: white;
   
}

.main-ul{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 40px;
    height: 50px;
    /* text-decoration: none; */
}
li{
    list-style: none;
    font-size: 25px;
}

.link-col{
    color: white;
    text-decoration: none;
}
.log-btn{
position: relative;
float:right;
margin-top: -51px;
width: 121px;
height: 32px;
border-radius: 14px;
background-color: dodgerblue;
color: white;
font-size: 19px;

}

@media only screen and (max-width: 600px) {
   
    .main-ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
   .log-btn{
    position: relative;
    float:right;
    margin-top: -45px;
    margin-right: 40px;
    width: 80px;
    height: 32px;
    border-radius: 14px;
    background-color: dodgerblue;
    color: white;
    font-size: 19px;
   }
}